body {
  background:white;
  font: 14px Arial;
  width: 90%;
  height: 95%;
  margin: auto;
  padding-top: 1%;
}

body, table {
  font: 12px Arial;
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}

  .d3-tip {
      /*line-height: 1;*/
      /*font-weight: bold; */
      padding: 12px;
      /*background: rgba(245, 245, 245, 0.90) !important;*/
      /*color: #000;*/
      border-radius: 2px;
      /*font-size: 13px;*/
      /*margin-top: 80px;*/
      }

.toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 8px sans-serif;
        padding: 5px;
        text-align: center;
    }

    text {
        font: 10px sans-serif;
        color: black;
    }
    text.value {
        font-size: 10px;
        fill: black;
    }

    .axisHorizontal path{
        fill: none;
    }

    .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }

    .bar {
        fill: steelblue;
        fill-opacity: .9;
    }

#visualizations {
  height: 100%;
  padding:15px;
  border-radius:25px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

#options {
  padding: 15px;
}

#topOptions {
  display: inline-block;
}

#bottomOptions {
  display: inline-block;
}

#sourceSelection {
  float: left;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
}

#intervalSelection {
  float: left;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
}

#chartSelection {
  float: left;
  display: inline-block;
  padding-bottom: 10px;
}

#numberTermsSelection {
  float:left;
  display: inline-block;
  padding-right: 10px;
}

#updateButtonContainer {
  float: left;
  display: inline-block;
}

#left {
  float: left;
  width: 35%;
}
#left2 {
  float: left;
  min-width: 35%;
  min-height: 40%;
}

#tagCloud2{
    /*width: 40%;*/
    float: left;
}
#timeline2{
    /*width: 60%;*/
    /*float: right;*/
    /*height: 500px;*/
}

#footer2{
    
    /*width: 100%;*/
    /*border: 1px;*/
    /*height: 300px;*/
}


#footer{

/*    width: 100%;*/
    border-radius:25px;
    border: 1px;
    height: 300px;
}

#tagCloud{
    width: 40%;
    float: left;
}
#timeline{
    /*width: 60%;*/
    /*float: right;*/
    height: 300px;  
}


#footer3{
 
    width: 100%;
    border-radius:25px;
    border: 1px;
    height: 600px;
}

#container{
    float: : left;
    width: 50%; 
    height: 500px; 
    margin: 0 auto
    
}

#footerSpace{
    width: 20%;
    position: center;
    border-radius:25px;
    border: 1px;
    height: 50px;
} 

#footer4{
    width: 20%;
    position: center;
    border-radius:25px;
    border: 1px;
    height: 50px;
}
#userFreq{
    float: : right;
    width: 20%; 
    /*height: 500px; 
    margin: 0 auto*/

}

.chart div {
  width: 20%;
  float: left;
  font: 5px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#intervalSlider {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  justify-content: center;
}

.active {
  display:inline-block;
}

.inactive {
  display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}  

.layerLine { 
    stroke: black;
    stroke-width: 0.02;
    fill: none;
  }
  .d3-tooltip{
    background: #ccc;
    border-radius: 10px;
    padding: 8px;
    border: .6px solid black;
    margin-left: 200px;
    margin-top: 20px;
  }
  .singletwitt{
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 1px;
    background: #fff;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
  }
  #tiptable tr{
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ccc;
  }
    #tiptable tr td{
    background: #fff;
    margin-bottom: 1px;
    margin-right: 1px;
    border-right: 1px solid #ccc;
  }
.col-md-5 {
    width: 42%;
    margin-right: 10px;
    height: 500px;

}
  .col-md-7 {
    width: 53%;
}

#userList{
  border: 2px solid #777;
      min-height: 600px;
      border-radius:25px;
      min-height: 400px;
}

#map{
  border-radius:25px;
  border: 2px solid #777;
  min-height: 600px;
}
#diseaseCloud{
  border-radius:3px;
  float: left;
  border: 2px solid #777;
  margin-right: 10px;
}
#diseaseStream{
  border-radius:25px;
  border: 2px solid #777;
}
#footer{


}
#footer2{
  margin-top: 25px;
}
#tagCloud{
  border-radius:25px;
  border: 2px solid #777;
  margin-right: 10px;
  width: 42%;
  min-height: 370px;
  margin-left: 30px;
  min-height: 370px;
}
#timeline{
  border-radius:25px;
  border: 2px solid #777;
  width: 53%;
  min-height: 370px;
}
#tagCloud2{
  border-radius:25px;
  border: 2px solid #777;
  margin-right: 10px;
  width: 42%;
  min-height: 370px;
  margin-left: 30px;
  min-height: 370px;
}
#timeline2{
  border-radius:25px;
  border: 2px solid #777;
  width: 53%;
  min-height: 370px;
}
#network{
  margin-top: 25px;
  margin-bottom: 50px;
  width: 95.5%;
  margin-left: 30px;

}
#container8{

  border-radius:25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #777;
}
h3{
  color: #000;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}